.header{
    position: absolute;
    left: 240px;
    background-color: white;
    color: var(--color-font--gray);
    height: 64px;
    min-width: 1680px;
    width: 100%;
    padding: 0 115px 0 120px;
    box-shadow: 0px 4px 5px 0px #E9EDF3;
    display: flex;
    align-items: center;
    font-size: var(--fontsize-s);
    line-height: var(--lineheight-s);
}

.callsAnalytics{
    display: flex;
    gap: 56px;
    color: var(--color-font--blue);
    margin-left: 86px;
    margin-right: 197px;
}

.search {
    margin-right: 64px;
}

.username, .avatar{
    display: flex;
    gap: 4;
    align-items: center;
}

.username {
    margin-right: 40px;
}

.arrow{
    margin-top: 2px;
}
