@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

:root {
  /* COLORS */
  --color-background: #F1F4F9;
  --color-sidebar: #091336;

  --color-sidebar-active: #4a5675;

  --color-ui--blue: #005FF8;
  --color-ui--blue-accent: #002CFB;
  --color-ui--blue--hover: #0024CB;
  --color-ui--blue--active: #274BC8;
  --color-ui--blue-light: #D8E4FB8F;

  --color-ui--active-option: #dfe4fd;


  --color-ui--yellow: #FFD500;

  --color-ui--green: #28A879;
  --color-grade--green: #00A775;

  --color-ui--green-light: #DBF8EF;

  --color-ui--red: #EA1A4F;
  --color-ui--red-light: #FEE9EF;

  --color-ui--gray: #ADBFDF;
  --color-ui--gray-light: #D8E4FB;

  --color-font--blue: #122945;
  --color-font--gray: #899CB1;
  --color-font--gray-secondary: #5E7793;
  --color-font--menu: #FFFFFF99;

  --color-table--hover: #D4DFF32B;


  --color-bar: #DEE6F5;

  /* RADIUS */
  --btn-radius--sm: 4px;
  --btn-radius--lg: 48px;
  --table-radius: 8px;
  --bar-radius: 12px;

  /* LAYOUT */
  --padding--btn-lg: 11px 25px 13px 25px;
  --width--btn-lg: 200px;
  --padding--btn-sm: 9px 24px 11px 24px;
  --padding--grade: 6px 8px;
  --padding--btn-clear: 2px 0;

  /* FONT SIZE */
  --fontsize-xs: 14px;
  --fontsize-s: 15px;
  --fontsize-m: 16px;

  /* LINE HEIGHT */
  --lineheight-xxs: 14px;
  --lineheight-xs: 16px;
  --lineheight-s: 20px;
  --lineheight-m: 24px;
  --lineheight-l: 28px;
}

/* @font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SFPRODISPLAYBLACKREGULAR.OTF');
 } */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
}

body {
  font-family: 'SF Pro Display', sans-serif;
  background-color: var(--color-background);
  font-size: var(--fontsize-s);
  max-width: 1920px;
}

a {
  color: inherit;
  text-decoration: none;
}

button{
  border: 0;
  cursor: pointer;
  background-color: inherit;
  transition: all 0.1s;
}

.fontDarkBlue{
  color: var(--color-font--blue);
}
.fontBlue{
  color: var(--color-ui--blue-accent);
}

.green {
  background-color: var(--color-ui--green);
}
.yellow {
  background-color: var(--color-ui--yellow);
}
.red {
  background-color: var(--color-ui--red);
}
