.main {
  padding: 84px 120px;
  min-height: 100vh;

  width: 1680px;
  margin-left: 240px;
}

.balanceAndDatePicker{
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 48px;
  margin-left: auto;
  margin-bottom: 20px;
}

.balance {
  &:hover {
   color: var(--color-ui--blue--hover);
  }
}

